<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect- ratio,line-clamp,container-queries"></script>
  <title>Navbar</title>
</head>
<body>
  <nav class="bg-white shadow">
    <div class="container mx-auto">
      <a href="#" class="text-black font-bold">Seu Portal de Notícias</a>

      <ul class="flex justify-end">
        <li><a href="#" class="text-gray-600 hover:text-gray-800">Página 1</a></li>
        <li><a href="#" class="text-gray-600 hover:text-gray-800">Página 2</a></li>
        <li><a href="#" class="text-gray-600 hover:text-gray-800">Sobre</a></li>
        <li><a href="#" class="text-gray-600 hover:text-gray-800">Contato</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>
