/* Estilos Tailwind CSS para o seu site */

body {
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  